

.tasks {
  position: relative;
  top: 50%;
  left: 50%;
  //width: 320px;
  height: 400px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 50%);
}

.list-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.item-content {
  border: 0px solid rgba(123, 123, 123, 0.498039);
  font-size: 18px;
  font-weight: 400;
  
}

#tasks{
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
}
.task{
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  //background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  //height: 80px;
  width: 100%;
  padding: 5px 10px;

  display: flex;
}
.task span{
  font-family: 'Poppins',sans-serif;
}

.task button{
  background-color: #6583e5;
  height: 50px;
  width: 50px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}